.fondo1{
    width: 414px;
    height: 875px;
    padding: 1rem;
    top: 0;

    justify-content: center;
}

.fondo2{
    position: relative;
    width: 414px;
    height: 434px;
    background-color:#785beb ;
   
}



.img2{
    top: -40rem;
    width: 121.68px;
    height: 382.43px;
    position: relative;
    margin-left: 290px;
}

.welcome{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 24px;
    top: -75rem;
    margin: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.emailT{
    position: relative;
    top: -60rem;
    left: -2rem;
    font-weight: 700;
    font-size: 14px;
}

.textoP{
    position: relative;
    top: -75rem;
    margin: 6rem;
    left: -3rem;
    color: rgb(255, 255, 255);
    font-size:14px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.log {
    font-size:18px ;
    position: relative;
    top: -70rem;
    left: 3rem;
    color: rgb(255, 255, 255);
}

.emailCuadro1{
    border: 1px solid black;
    position: relative;
    top: -58rem;
    width:324px;
    height: 50px;
    border-radius: 1rem;
    left: 5rem;
    display: flex;
}

.emailText{
    left: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carta{
    margin-left: 9px;
}

.pass{
    
    margin-top: -560px;
    margin-left: 4rem;
    font-weight: 700;
    position: absolute;
    font-size: 14px;
}

.passCuadro{
    position: relative;
    top: -53rem;
    left: 5rem;
    display: flex;
    width:324px;
    height: 50px;
    border-radius: 1rem;
  border: 1px solid black;
}



.login-btn{
    width: 324px;
    height: 54px;
    background-color: #785beb;
    border-radius: 3rem;
    position: relative;
    top: -48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 11px;
    left: 5rem;
}

.contenedor-text2{
    position: relative;
    top: -45rem;
    left: 5rem;
    width: 324px;
    display: flex;
    justify-content: center;
}

.Account{
    margin-left: 1rem;
    color: #785beb;
    cursor: pointer;
}